<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand">SCA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="selected"
        [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" routerLinkActive="selected" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ativos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/criar-insumo" routerLinkActive="selected">Novo Insumo</a>
          <a class="dropdown-item" routerLink="/lista-insumo" routerLinkActive="selected">Insumos</a>
          <!-- <a class="dropdown-item" routerLink="/teste" routerLinkActive="selected">teste</a> -->
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/agenda-manutencao" routerLinkActive="selected">Agendar Manutenção</a>
          <a class="dropdown-item" routerLink="/lista-agendamento" routerLinkActive="selected">Agendamentos</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/manutencao" routerLinkActive="selected">Nova Manutenção</a>
          <a class="dropdown-item" routerLink="/lista-manutencao" routerLinkActive="selected">Manutenções</a>
        </div>
      </li>
      <li class="nav-item dropdown" [hidden]="user_role != 'admin'">
        <a class="nav-link dropdown-toggle" routerLinkActive="selected" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Monitoramento
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/area-risco" routerLinkActive="selected">Áreas de Risco</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-item nav-link" (click)="logout()">Sair</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>

<div class=" container">
</div>
